In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

Read dataset

In [ ]:
df_Train=pd.read_csv("Train.csv")
df_Test=pd.read_csv("Test.csv")

In [ ]:
df_Train.head()

              ID  country  ...  Q28  target
0  ID_0000020532  Morocco  ...  1.0       0
1  ID_0000075765  Lebanon  ...  1.0       1
2  ID_0000085491  Morocco  ...  1.0       0
3  ID_0000144505   Canada  ...  NaN       1
4  ID_0000214184   Mexico  ...  1.0       1

[5 rows x 36 columns]

In [ ]:
print(df_train.columns.values)

NameError: ignored

In [ ]:
df_train.describe()

NameError: ignored

In [ ]:
df_Train.isnull().sum()

ID                 0
country            0
region           679
population         0
age              287
Q1                 0
Q2             57146
Q3             59653
Q4             47422
Q5             47422
Q6                 0
Q7             84226
Q8             45838
Q9             45838
Q10a               0
Q10b               0
Q11                0
Q12                0
Q13a               0
Q14                0
Q15                0
Q16                0
Q17a               0
Q17b               0
Q19            24173
Q20            24173
Q21                0
Q22                0
Q23            67287
Q24                0
Q25                0
Q26            24173
Q27            46438
owns_mobile        1
Q28            31005
target             0
dtype: int64

In [ ]:
# filling nan values yekhou fel moyenne 
import numpy as np
from sklearn.impute import SimpleImputer
imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')

imp_most_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')


[df_Train["Q1"]][0]=imp_mean.fit_transform([df_Train["Q1"]])

In [ ]:
d=df_Train.isnull().sum()/df_Train.shape[0]>0.5
df_Train[df_Train.columns[d]].columns

Index(['Q2', 'Q3', 'Q7', 'Q23'], dtype='object')

In [ ]:
len(imp_mean.fit_transform([df_Train["Q1"]])[0])

104867

In [ ]:
df_Train.drop(['Q2', 'Q3', 'Q7', 'Q23'],axis=1,inplace=True )

In [ ]:
df_Train.head()

              ID  country  ...  Q28  target
0  ID_0000020532  Morocco  ...  1.0       0
1  ID_0000075765  Lebanon  ...  1.0       1
2  ID_0000085491  Morocco  ...  1.0       0
3  ID_0000144505   Canada  ...  NaN       1
4  ID_0000214184   Mexico  ...  1.0       1

[5 rows x 32 columns]

In [ ]:
def Somme(A,B):
  return A+B

In [ ]:
df_Train["borrowedmoney"]=df_Train["Q14"]+df_Train["Q17a"]+df_Train["Q15"]+df_Train["Q17b"]

In [ ]:
df_Train.borrowedmoney

0         6
1         7
2         8
3         7
4         8
         ..
104862    8
104863    8
104864    8
104865    8
104866    8
Name: borrowedmoney, Length: 104867, dtype: int64

In [ ]:
# Univariate feature selection
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
X_new = SelectKBest(chi2, k=2).fit_transform(X, y)

#Recursive feature elimination

#Feature selection using SelectFromModel
from sklearn.svm import LinearSVC
from sklearn.feature_selection import SelectFromModel
lsvc = LinearSVC(C=0.01, penalty="l1", dual=False).fit(X, y)
model = SelectFromModel(lsvc, prefit=True)
X_new = model.transform(X)

NameError: ignored

In [ ]:
df_Train.region.unique()

array(['Middle East & North Africa (excluding high income)',
       'High income: OECD',
       'Latin America & Caribbean (excluding high income)',
       'High income: nonOECD',
       'Europe & Central Asia (excluding high income)',
       'East Asia & Pacific (excluding high income)', 'South Asia',
       'Sub-Saharan Africa (excluding high income)', nan], dtype=object)

In [ ]:
imp_most_freq = SimpleImputer(missing_values=np.nan, strategy='most_frequent')

In [ ]:
num = SimpleImputer(missing_values=np.nan, strategy='mean')

In [ ]:
df_Train.iloc[:,5:31] =imp_most_freq.fit_transform(df_Train.iloc[:,5:31])
df_Train.loc[:,["age"]] =imp_most_freq.fit_transform(df_Train.loc[:,["age"]])

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

enc = OrdinalEncoder()
encc= OneHotEncoder()

In [ ]:
df_Train.drop(["ID"],axis=1,inplace=True)

In [ ]:
df_Train.loc[:,["country"]] = enc.fit_transform(df_Train.loc[:,["country"]])

In [ ]:
df_Train

                   ID  country    population  ...  Q28  target  borrowedmoney
0       ID_0000020532     89.0  2.555017e+07  ...  1.0       0              6
1       ID_0000075765     71.0  4.591023e+06  ...  1.0       1              7
2       ID_0000085491     89.0  2.555017e+07  ...  1.0       0              8
3       ID_0000144505     21.0  3.049117e+07  ...  1.0       1              7
4       ID_0000214184     85.0  9.300232e+07  ...  1.0       1              8
...               ...      ...           ...  ...  ...     ...            ...
104862  ID_9999251978     54.0  9.508153e+08  ...  1.0       0              8
104863  ID_9999305731     52.0  6.522989e+06  ...  1.0       1              8
104864  ID_9999406850     84.0  1.024565e+06  ...  1.0       0              8
104865  ID_9999627239     45.0  7.184693e+07  ...  1.0       1              8
104866  ID_9999859033    140.0  7.130859e+07  ...  1.0       0              8

[104867 rows x 32 columns]

In [ ]:
df_Train.isnull().sum()

country          0
population       0
age              0
Q1               0
Q4               0
Q5               0
Q6               0
Q8               0
Q9               0
Q10a             0
Q10b             0
Q11              0
Q12              0
Q13a             0
Q14              0
Q15              0
Q16              0
Q17a             0
Q17b             0
Q19              0
Q20              0
Q21              0
Q22              0
Q24              0
Q25              0
Q26              0
Q27              0
owns_mobile      0
Q28              0
target           0
borrowedmoney    0
dtype: int64

Model training

In [ ]:
# cross-validation
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn import svm
y=df_Train.target
X=df_Train.drop(["target"],axis=1)
clf = svm.SVC(kernel='linear', C=1, random_state=42)


scores = cross_val_score(clf, X, y, cv=5)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'ID_1989210764'

  FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'ID_0000020532'

  FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'ID_0000020532'

  FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'ID_0000020532'

  FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:536: FitFailedWarning: Estimator fit failed. The score on this train-test partition for these parameters will be set to nan. Details:
ValueError: could not convert string to float: 'ID_0000020532'

  FitFailedWarning)

In [ ]:
y=df_Train.target
X=df_Train.drop(["target"],axis=1)
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=.3)

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
# KNN
knn = KNeighborsClassifier(n_neighbors = 2)
knn.fit(X_train, y_train)
Y_pred = knn.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.6088490512062553

In [ ]:
# random forest
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)
Y_pred = clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.6751851498680906

In [ ]:
#logistic regression
from sklearn.datasets import load_iris
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
Y_pred = logreg.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.5829121769810242

In [ ]:
#xgboost
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.7/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from xgboost) (1.19.5)

In [ ]:
import xgboost as xgb
from sklearn import preprocessing

In [ ]:
final_model = xgb.XGBClassifier(silent=True,
                            gamma=0.3,
                            n_estimators=150,
                            random_state=300,
                            n_jobs=-1)
final_model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0.3,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=150, n_jobs=-1,
              nthread=None, objective='binary:logistic', random_state=300,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=True, subsample=1, verbosity=1)

In [ ]:
Y_pred = final_model.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(Y_pred,y_test)

0.7166968627824926

In [ ]:
from sklearn.ensemble import VotingClassifier
from sklearn.svm import LinearSVC
from sklearn.ensemble import StackingClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

estimators = [
('rf', RandomForestClassifier(n_estimators=10, random_state=42)),
 ('svr', make_pipeline(StandardScaler(),LinearSVC(random_state=42))) ]

clf = StackingClassifier(
    estimators=estimators, final_estimator=LogisticRegression()
 )
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
X, y, stratify=y, random_state=42)
clf.fit(X_train, y_train).score(X_test, y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

0.694358622267994

In [ ]:
from tqdm import tqdm